body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#header {
    background-color: rgb(174, 90, 134);
}
#nav {
    background-color: rgb(203, 133, 157);

}
#section {
    background-color: rgb(212, 148, 148);
}
img {
    border: solid 10px pink;
}
